<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags for character set and viewport settings -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Link to Nunito font from Google Fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
    
    <!-- Title of the webpage -->
    <title>Decision Making Analytical</title>
</head>

<body class="decision-body">
    <!-- Container for the main content -->
    <div class="decision-container">
        <!-- Main heading -->
        <h1>Else, your decision-making style is the </h1>
        <!-- Subheading with strong emphasis on "analytical" -->
        <h2><strong>analytical</strong> style!</h2>
    </div>

    <!-- Flex container for displaying decision-making style details -->
    <div class="decision-flex-container row">
        <!-- Box for listing characteristics of analytical decision-making style -->
        <div class="decision-box">
            <h3>Analytical = task/technical (solution-oriented) + ambiguity (propensity to prefer flexibility)</h3>
            <ul>
                <li>Committed to finding the best answer</li>
                <li>Enjoys problem solving</li>
                <li>Comfortable with large amounts of information and data</li>
                <li>Innovative</li>
                <li>Thrives on control</li>
                <li>Will take as long as needed to find the best option</li>
                <li>Enjoys variety and new challenges</li>
            </ul>
        </div>
    </div>

    <!-- Button to return to profile page -->
    <input type="submit" class="decision-input" value="Return to profile" onclick="location.href='/profile'">
</body>

</html>
