<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags for character set and viewport settings -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Link to Nunito font from Google Fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
    
    <!-- Title of the webpage -->
    <title>Decision Making Behavioral</title>
</head>

<body class="decision-body">
    <!-- Container for the main content -->
    <div class="decision-container">
        <!-- Main heading -->
        <h1>Else, your decision-making style is the </h1>
        <!-- Subheading with strong emphasis on "behavioral" -->
        <h2><strong>behavioral</strong> style!</h2>
    </div>

    <!-- Flex container for displaying decision-making style details -->
    <div class="decision-flex-container row">
        <!-- Box for listing characteristics of behavioral decision-making style -->
        <div class="decision-box">
            <h3>Behavioral = people/social (motivation) + structure (propensity to prefer stability)</h3>
            <ul>
                <li>Generally supportive; a team player</li>
                <li>Empathetic nature</li>
                <li>Looks to others for advice</li>
                <li>Gets buy-in from stakeholders before making a decision</li>
                <li>Persuasive nature</li>
                <li>Good communicator</li>
                <li>Relies on implied data (e.g. "reading" people)</li>
            </ul>
        </div>
    </div>

    <!-- Button to return to profile page -->
    <input type="submit" class="decision-input" value="Return to profile" onclick="location.href='/profile'">
</body>

</html>
