<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags for character set and viewport settings -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Link to Nunito font from Google Fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
    
    <!-- Title of the webpage -->
    <title>Decision Making Directive</title>
</head>

<body class="decision-body">
    <!-- Container for the main content -->
    <div class="decision-container">
        <!-- Main heading -->
        <h1>Else, your decision-make style is the </h1>
        <!-- Subheading with strong emphasis on "directive" -->
        <h2><strong>directive</strong> style!</h2>
    </div>

    <!-- Flex container for displaying directive style characteristics -->
    <div class="decision-flex-container row">
        <!-- Box for listing directive style traits -->
        <div class="decision-box">
            <h3>Directive = task/technical (solution-oriented) + ambiguity (propensity to prefer flexibility)</h3>
            <ul>
                <!-- List of characteristics for directive decision-making style -->
                <li>Driven by results</li>
                <li>Relies primarily on rules and processes</li>
                <li>Aggressive nature</li>
                <li>Prefers to make decisions alone</li>
                <li>Intuitive nature</li>
                <li>Typically reacts quickly and doesn't like to dwell on decisions</li>
                <li>Strong verbal communicator</li>
                <li>Informs people once a decision is made</li>
            </ul>
        </div>

        <!-- Button to navigate back to the profile page -->
        <input type="submit" class="decision-input" value="Return to profile" onclick="location.href='/profile'">
    </div>
</body>

</html>
