<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags for character set and viewport settings -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Links to external fonts from Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
    
    <!-- Title of the webpage -->
    <title>Director Result</title>
</head>

<body class="results-body">
    <!-- Container for the main content -->
    <div class="results-container">
        <!-- Main heading -->
        <h1>According to your answers, you are a </h1>
        <!-- Subheading with strong emphasis on "director" -->
        <h2><strong>director</strong> person!</h2>
        <!-- Paragraph describing the director personality -->
        <p class="results-description">Every group can benefit from a Director. You’re often seen as the leader and 
            decision maker and one who initiates discussions often (since you’re more than 
            comfortable with voicing your thoughts). Because you’re motivated by tangible 
            results and hitting milestones on time and on budget, you have a natural gift for 
            taking charge and seeing responsibilities through.</p>
    </div>

    <!-- Flex container for displaying strengths and work environment -->
    <div class="results-flex-container row">
        <!-- Box for listing strengths in a team setting -->
        <div class="results-box">
            <h3>Strengths in a team settings:</h3>
            <ul>
                <!-- List of strengths -->
                <li>Establishing order at the start of a project or during times of uncertainty.</li>
                <li>Ability to be influential and motivating.</li>
                <li>Delineating team roles and responsibilities and helping to structure the team’s tasks.</li>
            </ul>
        </div>

        <!-- Box for listing the best work environment -->
        <div class="results-box">
            <h3>Environment you work best in:</h3>
            <ul>
                <!-- List of preferred work environments -->
                <li>Fast-paced/agile (work happens quickly and continuously with minimal interruption in between)</li>
                <li>Structured (work is well-documented and scheduled)</li>
                <li>Efficient (team is able to do more in less time)</li>
            </ul>
        </div>
    </div>

    <!-- Flex container for displaying potential watch outs -->
    <div class="results-flex-container">
        <!-- Box for listing watch outs -->
        <div class="results-box">
            <h3>Watch out for:</h3>
            <ul>
                <!-- List of potential pitfalls -->
                <li>Overshadowing your peers with speaking on behalf or over others.</li>
                <li>Dominating a conversation.</li>
                <li>Having requests come across as demanding</li>
            </ul>
        </div>
    </div>

    <!-- Button to navigate to the next form -->
    <input type="submit" class="results-input" value="Next form" onclick="location.href='/decisionForm'">

</body>

</html>
