<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Meta tags for character set and viewport settings -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title of the webpage -->
    <title>Collaboration Form</title>
    <!-- Link to Google Fonts for styling -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <!-- Link to Nunito font -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
</head>

<body class="evaluation-body">
    <!-- Main container for the form -->
    <div class="total">
        <!-- Container for progress bar -->
        <div class="progress-bar-container">
            <div class="progress-bar" id="progress-bar"></div>
        </div>
        <!-- Main heading -->
        <h1 class="evaluation-h1">Collaboration Style</h1>

        <!-- Form for collaboration evaluation -->
        <form id="collaboration-form" class="evaluation-form">
            <!-- Question 1 -->
            <div class="evaluation-legend-section">Question 1 - What do you care most about when working in a group
                setting?</div>
            <div class="evaluation-rounded-section">
                <fieldset class="evaluation-fieldset">
                    <label class="evaluation-label"><input type="radio" name="question1" value="A"> Getting things done
                        effectively without delay and seeing results right away.</label>
                    <label class="evaluation-label"><input type="radio" name="question1" value="B"> Getting things done
                        by ‘the book’ and follow protocols.</label>
                    <label class="evaluation-label"><input type="radio" name="question1" value="C"> Having democracy in
                        a team and keeping the group harmony.</label>
                    <label class="evaluation-label"><input type="radio" name="question1" value="D"> Exploring new
                        possibilities in untapped opportunities and embracing creativity.</label>
                    <label class="evaluation-label"><input type="radio" name="question1" value="E"> Attention to detail
                        to get things right and downtime to think independently.</label>
                </fieldset>
            </div>

            <!-- Question 2 -->
            <div class="evaluation-legend-section">Question 2 - Which of the options describe you best?</div>
            <div class="evaluation-rounded-section">
                <fieldset class="evaluation-fieldset">
                    <label class="evaluation-label"><input type="radio" name="question2" value="A"> I like to take the
                        lead so things will be done the way I want.</label>
                    <label class="evaluation-label"><input type="radio" name="question2" value="B"> I like to follow the
                        accepted procedure in order to avoid a conflict.</label>
                    <label class="evaluation-label"><input type="radio" name="question2" value="C"> I can become a bit
                        assertive, when it comes to stating an opinion.</label>
                    <label class="evaluation-label"><input type="radio" name="question2" value="D"> I seek to cultivate
                        my relationships with co-workers.</label>
                    <label class="evaluation-label"><input type="radio" name="question2" value="E"> I am very adept at
                        creating new knowledge and decision-making comes easy for me.</label>
                </fieldset>
            </div>

            <!-- Question 3 -->
            <div class="evaluation-legend-section">Question 3 - How would you describe your collaboration behavior?
            </div>
            <div class="evaluation-rounded-section">
                <fieldset class="evaluation-fieldset">
                    <label class="evaluation-label"><input type="radio" name="question3" value="A"> I do not mind to
                        discuss options, but in the end I want to decide.</label>
                    <label class="evaluation-label"><input type="radio" name="question3" value="B"> I tend to be
                        cooperative and nice within my immediate team.</label>
                    <label class="evaluation-label"><input type="radio" name="question3" value="C"> I prefer independent
                        work to discover one, provable answer and if I need some external consultation I will choose a
                        master of his/her field.</label>
                    <label class="evaluation-label"><input type="radio" name="question3" value="D"> I seek for consensus
                        and good cooperation with my teammates.</label>
                    <label class="evaluation-label"><input type="radio" name="question3" value="E"> I look for facts and
                        data, and decisions to be logical.</label>
                </fieldset>
            </div>

            <!-- Question 4 -->
            <div class="evaluation-legend-section">Question 4 - What sort of things are you most motivated by in a team
                environment?</div>
            <div class="evaluation-rounded-section">
                <fieldset class="evaluation-fieldset">
                    <label class="evaluation-label"><input type="radio" name="question4" value="A"> Winning, excelling
                        past the competition, and achieving success.</label>
                    <label class="evaluation-label"><input type="radio" name="question4" value="B"> Finding a consensus
                        and follow the decisions taken.</label>
                    <label class="evaluation-label"><input type="radio" name="question4" value="C"> Cooperating well and
                        receiving sincere appreciation from others.</label>
                    <label class="evaluation-label"><input type="radio" name="question4" value="D"> Novel experiences,
                        interesting tasks, and positive social recognition.</label>
                    <label class="evaluation-label"><input type="radio" name="question4" value="E"> Demonstrating my
                        expertise and gaining knowledge in my area of interest.</label>
                </fieldset>
            </div>

            <!-- Question 5 -->
            <div class="evaluation-legend-section">Question 5 - When you approach discussions during team meetings, you
                tend to be:</div>
            <div class="evaluation-rounded-section">
                <fieldset class="evaluation-fieldset">
                    <label class="evaluation-label"><input type="radio" name="question5" value="A"> Direct and decisive
                        — I say what’s on my mind with no hesitation.</label>
                    <label class="evaluation-label"><input type="radio" name="question5" value="B"> Agree and conform –
                        I will follow the decision taken by the majority.</label>
                    <label class="evaluation-label"><input type="radio" name="question5" value="C"> Patient and
                        cooperate — I let others go first and chime in when appropriate.</label>
                    <label class="evaluation-label"><input type="radio" name="question5" value="D"> Lively and energetic
                        — I’m enthusiastic and animated when it comes to sharing ideas.</label>
                    <label class="evaluation-label"><input type="radio" name="question5" value="E"> Thoughtful and
                        systematic — I make sure every contribution adds value to the conversation.</label>
                </fieldset>
            </div>

            <!-- Question 6 -->
            <div class="evaluation-legend-section">Question 6 - The project your team is working on keeps getting
                delayed, what’s the one factor you refuse to compromise on?</div>
            <div class="evaluation-rounded-section">
                <fieldset class="evaluation-fieldset">
                    <label class="evaluation-label"><input type="radio" name="question6" value="A"> The results —
                        project milestones need to be hit on time and on budget going forward.</label>
                    <label class="evaluation-label"><input type="radio" name="question6" value="B"> The consensus – we
                        most important thing is that all agree on the process.</label>
                    <label class="evaluation-label"><input type="radio" name="question6" value="C"> The people—the
                        relationships of those formed in the group takes precedence over the job itself.</label>
                    <label class="evaluation-label"><input type="radio" name="question6" value="D"> The ideas — goals
                        are lofty but you intend to see them through without downgrading the vision.</label>
                    <label class="evaluation-label"><input type="radio" name="question6" value="E"> The precision — it
                        doesn’t matter how quick or how much is done, quality is everything.</label>
                </fieldset>
            </div>

            <!-- Submit button -->
            <input type="submit" value="Finish the form" id="finish" class="evaluation-finish">
        </form>
    </div>

    <!-- Script for form validation and progress tracking -->
    <script>
        // Function to validate if all questions are answered before submission
        document.getElementById('collaboration-form').addEventListener('submit', function (event) {
            const questions = ['question1', 'question2', 'question3', 'question4', 'question5', 'question6'];
            let allAnswered = true;

            for (let i = 0; i < questions.length; i++) {
                const radios = document.getElementsByName(questions[i]);
                let answered = false;
                for (const radio of radios) {
                    if (radio.checked) {
                        answered = true;
                        break;
                    }
                }
                if (!answered) {
                    allAnswered = false;
                    break;
                }
            }

            if (!allAnswered) {
                alert('Por favor, responda todas as perguntas antes de enviar o formulário.');
                event.preventDefault();
            } else {
                // Count the number of each answer type (A, B, C, D, E)
                event.preventDefault();
                let qntA = 0
                let qntB = 0, qntC = 0, qntD = 0, qntE = 0;

                // Loop through each question to count the selected answers
                for (let i = 0; i < questions.length; i++) {
                    const radios = document.getElementsByName(questions[i]);
                    for (const radio of radios) {
                        if (radio.checked) {
                            // Increment the corresponding count based on the selected answer
                            if (radio.value === "A") qntA++;
                            else if (radio.value === "B") qntB++;
                            else if (radio.value === "C") qntC++;
                            else if (radio.value === "D") qntD++;
                            else if (radio.value === "E") qntE++;
                        }
                    }
                }

                // Store the counts in an object
                const qntAnswers = {
                    qntA: qntA,
                    qntB: qntB,
                    qntC: qntC,
                    qntD: qntD,
                    qntE: qntE,
                };

                // Determine which answer type was chosen the most
                const values = Object.values(qntAnswers);
                const maxQnt = Math.max(...values);
                const mostChosen = Object.keys(qntAnswers).find(key => qntAnswers[key] === maxQnt);

                // Define the URL based on the most chosen answer type
                let url;
                if (mostChosen === 'qntA') {
                    qntAnswers.result = 'director';
                    url = '/director';
                } else if (mostChosen === 'qntB') {
                    qntAnswers.result = 'conformist';
                    url = '/conformist';
                } else if (mostChosen === 'qntC') {
                    qntAnswers.result = 'harmonizer';
                    url = '/harmonizer';
                } else if (mostChosen === 'qntD') {
                    qntAnswers.result = 'initiator';
                    url = '/initiator';
                } else if (mostChosen === 'qntE') {
                    qntAnswers.result = 'analyst';
                    url = '/analyst';
                }

                // Append the URL to the qntAnswers object and redirect to the result page
                qntAnswers.url = url;
                location.href = url;

                // Send the form data to the server using fetch
                fetch('/evaluation', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(qntAnswers)
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.error) {
                            alert('Erro: ' + data.error);
                        } else {
                            alert('Formulário preenchido com sucesso!');
                        }
                    })
                    .catch(error => {
                        console.error('Erro:', error);
                    });
            }
        });

        // Function to update the progress bar based on answered questions
        const updateProgressBar = () => {
            const questions = ['question1', 'question2', 'question3', 'question4', 'question5', 'question6'];
            let answeredCount = 0;

            for (let i = 0; i < questions.length; i++) {
                const radios = document.getElementsByName(questions[i]);
                for (const radio of radios) {
                    if (radio.checked) {
                        answeredCount++;
                        break;
                    }
                }
            }

            // Calculate the progress percentage and update the progress bar width
            const progressBar = document.getElementById('progress-bar');
            const progressPercentage = (answeredCount / questions.length) * 100;
            progressBar.style.width = progressPercentage + '%';

            // Add a class to mark the progress bar as complete if all questions are answered
            if (answeredCount === questions.length) {
                progressBar.classList.add('complete');
            } else {
                progressBar.classList.remove('complete');
            }
        };

        // Attach the updateProgressBar function to each radio button's change event
        const radios = document.querySelectorAll('input[type="radio"]');
        radios.forEach(radio => {
            radio.addEventListener('change', updateProgressBar);
        });

    </script>
</body>

</html>