<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags for character set and responsive design -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <!-- Link to Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <!-- Internal CSS Styles -->
  <style>
    /* Body styles */
    body.forgot-password {
      font-family: 'Poppins', sans-serif;
      background-color: #FC6758;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      color: #333;
      background-image: url('/images/bglogin.svg');
      background-size: cover; /* Ensure the image covers the entire area */
      background-position: center; /* Center the image */
      background-repeat: no-repeat;
      max-width: 100%;
      overflow-x: hidden;
    }

    /* Container styles */
    body.forgot-password .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      padding: 0 5vw;
    }

    /* Red rectangle styles */
    body.forgot-password .red-rectangle {
      background-color: #FC6758;
      width: 30%;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 0;
    }

    /* Logo image styles */
    body.forgot-password .imagem-logo {
      content: url('/images/logowebculture.svg');
      width: 14vw;
      height: auto;
      position: absolute;
      top: 2vh;
      left: 2vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    /* Grain overlay styles */
    body.forgot-password .grain-overlay {
      position: absolute;
      width: 30%;
      height: 100%;
      right: 0;
      top: 0;
      background-image: url('/images/grainbg.svg');
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.55;
      mix-blend-mode: soft-light;
      pointer-events: none;
    }

    /* Form container styles */
    body.forgot-password .form-container {
      width: 80vw;
      max-width: 400px;
      background: white;
      padding: 2em;
      border-radius: 1.5em;
      box-shadow: 0 0 1.25em rgba(0, 0, 0, 0.2);
      z-index: 1;
      position: relative;
      margin-right: -35vw; /* Adjust right margin to center */
      margin-top: 0.5vw; /* Adjust top margin */
    }

    /* Login container styles */
    body.forgot-password .forgot-password-container {
      width: 100%;
      text-align: left;
    }

    /* Heading styles */
    body.forgot-password h1 {
      color: #2E2640;
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    /* Input styles */
    body.forgot-password input[type="email"], body.forgot-password select[type="dropdown"], body.forgot-password input[type="password"] {
      color: rgba(0, 0, 0, 0.6);
      font-size: 1rem;
      width: 100%;
      padding: 1rem;
      margin: 0.5rem 0;
      border: 1px solid #ccc;
      border-radius: 4px;
      background: #FFF;
      box-shadow: 0px 0.125em 0.125em #35353515;
      box-sizing: border-box;
      transition: border-color 0.3s;
    }

    /* Input focus styles */
    body.forgot-password input[type="email"]:focus, body.forgot-password select[type="dropdown"]:focus, body.forgot-password input[type="password"]:focus {
      border-color: #FE4451;
      outline: none;
    }

    /* Button styles */
    body.forgot-password .verify-button, body.forgot-password .reset-password-button, body.forgot-password .cancel-button {
      color: #FFF;
      font-size: 1rem;
      font-weight: 600;
      width: calc(100% - 2rem);
      padding: 0.75rem;
      margin: 1rem;
      border-radius: 2.5rem;
      border: none;
      cursor: pointer;
      box-shadow: 0px 0.25em 0.25em rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      margin-bottom: -0.1rem;
    }

    /* Verify button styles */
    body.forgot-password .verify-button {
      background-color: #FE4451;
    }

    body.forgot-password .verify-button:hover {
      background-color: #A51111;
    }

    /* Reset password button styles */
    body.forgot-password .reset-password-button {
      background-color: #FE4451;
    }

    body.forgot-password .reset-password-button:hover {
      background-color: #A51111;
    }

    /* Cancel button styles */
    body.forgot-password .cancel-button {
      background-color: #848484;
    }

    body.forgot-password .cancel-button:hover {
      background-color: #3A3A3A;
    }

    /* Media queries for responsiveness */
    @media (max-width: 768px) {
      body.forgot-password .container {
        justify-content: center;
        padding: 0 2vw;
      }

      body.forgot-password .red-rectangle, body.forgot-password .grain-overlay {
        display: none;
      }

      body.forgot-password .form-container {
        margin: 2em 0;
      }
    }

    @media (max-width: 480px) {
      body.forgot-password .form-container {
        width: 90vw;
        padding: 1.5em;
        margin: 0;
      }

      body.forgot-password .imagem-logo {
        width: 20vw;
      }

      body.forgot-password h1 {
        font-size: 1.5rem;
      }

      body.forgot-password input[type="email"], body.forgot-password select[type="dropdown"], body.forgot-password input[type="password"] {
        font-size: 0.75rem;
        padding: 0.5em;
      }

      body.forgot-password .verify-button, body.forgot-password .reset-password-button, body.forgot-password .cancel-button {
        font-size: 0.875rem;
        padding: 0.5em;
      }

    /* Typing animation */
    input[type="email"]:focus, input[type="password"]:focus {
      outline: none;
      border-color: #FE4451;
      animation: typing 1s steps(1, end) infinite;
      }

      @keyframes typing {
        from, to {
          border-right-color: transparent;
        }
        50% {
          border-right-color: #FE4451;
        }
      }
    }
  </style>
</head>

<body class="forgot-password">
  <!-- Main container -->
  <div class="container">
    <!-- Form container -->
    <div class="form-container">
      <!-- Forgot password container -->
      <div class="forgot-password-container">
        <!-- Heading -->
        <h1>Forgot Password</h1>
        <!-- Verification form -->
        <form id="verifyForm" method="POST">
          <!-- Email input -->
          <input type="email" id="email" name="email" placeholder="E-mail *" required>
          <!-- University dropdown -->
          <select type="dropdown" id="university" name="university" placeholder="University *" required>
            <option value="" disabled selected hidden>University*</option>
            <option value="Zuyd University">Zuyd University</option>
            <option value="H-BRS Germany">H-BRS Germany</option>
            <option value="ESEG">ESEG</option>
            <option value="Inteli - Instituto de Tecnologia e Liderança">Inteli - Instituto de Tecnologia e Liderança</option>
            <option value="Al Akhawayn University">Al Akhawayn University</option>
            <option value="Universidad Cesar Vallejo">Universidad Cesar Vallejo</option>
            <option value="Belmont University">Belmont University</option>
            <option value="Ephec University College">Ephec University College</option>
            <option value="Manchester Metropolitan University">Manchester Metropolitan University</option>
            <option value="Heilongjiang International University">Heilongjiang International University</option>
            <option value="Dunis University">Dunis University</option>
          </select>
          <!-- Verify button -->
          <input type="submit" class="verify-button" value="Verify" onclick="verifyUser()">
          <!-- Cancel button -->
          <input type="button" class="cancel-button" value="Cancel" onclick="location.href='/'">
        </form>

        <!-- Reset password form (hidden by default) -->
        <form id="resetForm" method="POST" style="display: none;">
          <!-- New password input -->
          <input type="password" id="newPassword" name="newPassword" placeholder="New Password *" required>
          <!-- Confirm new password input -->
          <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password *" required>
          <!-- Reset password button -->
          <input type="submit" class="reset-password-button" value="Reset Password" onclick="resetPassword()">
        </form>
      </div>
    </div>
  </div>
  <!-- Red rectangle for decoration -->
  <div class="red-rectangle"></div>
  <!-- Grain overlay for decoration -->
  <div class="grain-overlay"></div>
  <!-- Logo image -->
  <div class="imagem-logo"></div>

  <!-- JavaScript for form submission -->
</body>
<script>
  // Function to verify user details
  function verifyUser() {
    event.preventDefault(); // Prevent the default form submission

    // Gather user input (email and university) from the form
    const verifyData = {
      email: document.getElementById('email').value,
      university: document.getElementById('university').value,
    };

    // Send a POST request to the server for user verification
    fetch('/verify', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(verifyData),
    })
    .then(response => response.json()) // Parse the JSON response
    .then(data => {
      if (data.error) {
        alert('An error occurred: ' + data.error); // Alert if there's an error
      } else {
        alert('Verification successful!'); // Alert if verification is successful
        // Hide the verification form and display the reset password form
        document.getElementById('verifyForm').style.display = 'none';
        document.getElementById('resetForm').style.display = 'block';
      }
    });
  }

  // Function to reset user password
  function resetPassword() {
    event.preventDefault(); // Prevent the default form submission

    // Gather user input (email, university, new password, and confirm password)
    const newPassword = document.getElementById('newPassword').value;
    const confirmPassword = document.getElementById('confirmPassword').value;

    // Check if the new password matches the confirm password
    if (newPassword !== confirmPassword) {
      alert('Passwords do not match!'); // Alert if passwords don't match
      return;
    }

    // Prepare data to reset password
    const resetData = {
      email: document.getElementById('email').value,
      university: document.getElementById('university').value,
      newPassword: newPassword,
    };

    // Send a POST request to the server to reset the password
    fetch('/reset-password', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(resetData),
    })
    .then(response => response.json()) // Parse the JSON response
    .then(data => {
      if (data.error) {
        alert('An error occurred: ' + data.error); // Alert if there's an error
      } else {
        alert('Password reset successful!'); // Alert if password reset is successful
        // Redirect the user to the homepage after successful password reset
        location.href = '/';
      }
    });
  }
</script>

</html>
