<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Importing Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
    <title>Harmonizer Result</title>
    <!-- External CSS can be linked here -->
</head>

<body class="harmonizer-body">
    <!-- Container for harmonizer result -->
    <div class="harmonizer-container">
        <h1>According to your answers, you are a </h1>
        <h2><strong>harmonizer</strong> person!</h2>
        <!-- Description of the harmonizer personality -->
        <p class="harmonizer-description">You're the people-person and the glue that keeps everyone together. You're known 
            for building great relationships and facilitating team interactions with grace and 
            humility. Because you're motivated by genuine cooperation, you go the extra mile to 
            ensure everyone's opinions are heard. You're always available as a supportive 
            resource for those who need an extra bit of help. </p>
    </div>

    <!-- Flex container for displaying strengths and working environment -->
    <div class="harmonizer-flex-container row">
        <!-- Box for strengths in team settings -->
        <div class="harmonizer-box">
            <h3>Strengths in a team settings:</h3>
            <ul>
                <li>Ability to resolve conflict with patience and understanding;</li>
                <li>Regularly encourages and motivates others to achieve their potential;</li>
                <li>High emotional intelligence to tap into what others are feeling even when they're not outwardly expressed.</li>
            </ul>
        </div>

        <!-- Box for preferred working environment -->
        <div class="harmonizer-box">
            <h3>Environment you work best in:</h3>
            <ul>
                <li>Calm (space where deliberation can happen);</li>
                <li>Harmonious (team members demonstrate trust and respect through words and actions);</li>
                <li>Friendly (relationships with teammates don't have to stop with work).</li>
            </ul>
        </div>
    </div>

    <!-- Flex container for potential challenges -->
    <div class="harmonizer-flex-container">
        <div class="harmonizer-box">
            <h3>Watch out for:</h3>
            <ul>
                <li>Reluctance to say what's on your mind at the risk of offending others;</li>
                <li>Being overly accommodating to others' needs and wants;</li>
                <li>Being overly cautious of change and settling for the status quo.</li>
            </ul>
        </div>
    </div>

    <!-- Button to proceed to the next form -->
    <input type="submit" class="harmonizer-input" value="Next form" onclick="location.href='/decisionForm'">
</body>

</html>
