<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Importing Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
    <title>Initiator Result</title>
    <!-- External CSS can be linked here -->
</head>

<body class="initiator-body">
    <!-- Container for initiator result -->
    <div class="initiator-container">
        <h1>According to your answers, you are a </h1>
        <h2><strong>initiator</strong> person!</h2>
        <!-- Description of the initiator personality -->
        <p class="initiator-description">You bring variety to the table and can easily see the bigger picture in whatever you do. Others know you for often coming up with great ideas and opening up the discussion so everyone can explore new territory together. Because you’re motivated by novelty and new inventions, you’re no stranger to thinking outside the box by constantly seeking external means for inspiration or creativity.</p>
    </div>

    <!-- Flex container for displaying strengths and working environment -->
    <div class="initiator-flex-container row">
        <!-- Box for strengths in team settings -->
        <div class="initiator-box">
            <h3>Strengths in a team settings:</h3>
            <ul>
                <li>Being a champion of change and making regular suggestions for team improvements </li>
                <li>Contributes thought-provoking discussion by offering fresh perspectives regularly</li>
                <li>Limits groupthink by playing devil’s advocate to agreeable ideas</li>
            </ul>
        </div>

        <!-- Box for preferred working environment -->
        <div class="initiator-box">
            <h3>Environment you work best in:</h3>
            <ul>
                <li>Stimulating (positive encouragement to think differently)</li>
                <li>Freedom of expression (everyone can express themselves without judgment)</li>
                <li>Positive and creative (failures are seen as opportunities for learning)</li>
            </ul>
        </div>
    </div>

    <!-- Flex container for potential challenges -->
    <div class="initiator-flex-container">
        <div class="initiator-box">
            <h3>Watch out for:</h3>
            <ul>
                <li>Acting impulsively, such as by blurting out unfinished ideas during meetings or interrupting discussion</li>
                <li>Being disorganized when it comes to prioritizing tasks or hitting deadlines</li>
                <li>Putting things on the back burner for too long (you might pick up tasks easily, but make sure to follow through!)</li>
            </ul>
        </div>
    </div>

    <!-- Button to proceed to the next form -->
    <input type="submit" class="initiator-input" value="Next form" onclick="location.href='/decisionForm'">
</body>

</html>
