<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags for character set and responsive design -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <!-- Link to Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <!-- Internal CSS Styles -->
  <style>
    /* Body styles */
    body.login {
      font-family: 'Poppins', sans-serif;
      background-color: #FC6758;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      color: #333;
      background-image: url('/images/bglogin.svg');
      background-size: cover; /* Ensure the image covers the entire area */
      background-position: center; /* Center the image */
      background-repeat: no-repeat;
      max-width: 100%;
      overflow-x: hidden;
    }

    /* Container styles */
    body.login .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      padding: 0 5vw;
    }

    /* Red rectangle styles */
    body.login .red-rectangle {
      background-color: #FC6758;
      width: 30%;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 0;
    }

    /* Logo image styles */
    body.login .imagem-logo {
      content: url('/images/logowebculture.svg');
      width: 14vw;
      height: auto;
      position: absolute;
      top: 2vh;
      left: 2vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    /* Grain overlay styles */
    body.login .grain-overlay {
      position: absolute;
      width: 30%;
      height: 100%;
      right: 0;
      top: 0;
      background-image: url('/images/grainbg.svg');
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.55;
      mix-blend-mode: soft-light;
      pointer-events: none;
    }

    /* Form container styles */
    body.login .form-container {
      width: 80vw;
      max-width: 400px;
      background: white;
      padding: 2em;
      border-radius: 1.5em;
      box-shadow: 0 0 1.25em rgba(0, 0, 0, 0.2);
      z-index: 1;
      position: relative;
      margin-right: -35vw; /* Adjust right margin to center */
      margin-top: 0.5vw; /* Adjust top margin */
    }

    /* Login container styles */
    body.login .login-container {
      width: 100%;
      text-align: left;
    }

    /* Heading styles */
    body.login h1 {
      color: #2E2640;
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    /* Input styles */
    body.login input[type="email"], body.login input[type="password"] {
      color: rgba(0, 0, 0, 0.6);
      font-size: 1rem;
      width: 100%;
      padding: 1rem;
      margin: 0.5rem 0;
      border: 1px solid #ccc;
      border-radius: 4px;
      background: #FFF;
      box-shadow: 0px 0.125em 0.125em #35353515;
      box-sizing: border-box;
      transition: border-color 0.3s;
    }

    /* Input focus styles */
    body.login input[type="email"]:focus, body.login input[type="password"]:focus {
      border-color: #FE4451;
      outline: none;
    }

    /* Forgot password link styles */
    body.login .forgot-password {
      display: block;
      margin: 1rem 0;
      color: #aaa;
      font-size: 0.875rem;
      text-decoration: none;
      text-align: center;
      position: relative;
      transition: color 0.3s;
    }

    body.login .forgot-password::after {
      content: '';
      display: block;
      width: 50%;
      height: 2px;
      background: #FE4451;
      position: absolute;
      left: 25%;
      bottom: -2px;
      transition: width 0.3s, left 0.3s;
    }

    body.login .forgot-password:hover {
      color: #FE4451;
    }

    body.login .forgot-password:hover::after {
      width: 100%;
      left: 0;
    }

    /* Button styles */
    body.login .login-button, body.login .create-account-button {
      color: #FFF;
      font-size: 1rem;
      font-weight: 600;
      width: calc(100% - 2rem);
      padding: 0.75rem;
      margin: 1rem;
      border-radius: 2.5rem;
      border: none;
      cursor: pointer;
      box-shadow: 0px 0.25em 0.25em rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      margin-bottom: -0.1rem;
    }

    /* Login button styles */
    body.login .login-button {
      background-color: #FE4451;
    }

    body.login .login-button:hover {
      background-color: #A51111;
    }

    /* Create account button styles */
    body.login .create-account-button {
      background-color: #848484;
    }

    body.login .create-account-button:hover {
      background-color: #3A3A3A;
    }

    /* Media queries for responsiveness */
    @media (max-width: 768px) {
      body.login .container {
        justify-content: center;
        padding: 0 2vw;
      }

      body.login .red-rectangle, body.login .grain-overlay {
        display: none;
      }

      body.login .form-container {
        margin: 2em 0;
      }
    }

    @media (max-width: 480px) {
      body.login .form-container {
        width: 90vw;
        padding: 1.5em;
        margin: 0;
      }

      body.login .imagem-logo {
        width: 20vw;
      }

      body.login h1 {
        font-size: 1.5rem;
      }

      body.login input[type="email"], body.login input[type="password"] {
        font-size: 0.75rem;
        padding: 0.5em;
      }

      body.login .login-button, body.login .create-account-button {
        font-size: 0.875rem;
        padding: 0.5em;
      }

      /* Typing animation */
      input[type="email"]:focus, input[type="password"]:focus {
      outline: none;
      border-color: #FE4451;
      animation: typing 1s steps(1, end) infinite;
      }

      @keyframes typing {
        from, to {
          border-right-color: transparent;
        }
        50% {
          border-right-color: #FE4451;
        }
      }
    }
  </style>
</head>

<body class="login">
  <!-- Main container -->
  <div class="container">
    <!-- Form container -->
    <div class="form-container">
      <!-- Login container -->
      <div class="login-container">
        <!-- Heading -->
        <h1>Login</h1>
        <!-- Login form -->
        <form id="loginForm" method="POST">
          <!-- Email input -->
          <input type="email" id="email" name="email" placeholder="E-mail *" required>
          <!-- Password input -->
          <input type="password" id="password" name="password" placeholder="Password *" required>
          <!-- Forgot password link -->
          <a href="/forgot-password" class="forgot-password">Forgot your password?</a>
          <!-- Submit button -->
          <input type="submit" class="login-button" value="Login" onclick="login()">
          <!-- Create account button -->
          <input type="button" class="create-account-button" value="Create an account" onclick="location.href='/signup'">
        </form>
      </div>
    </div>
  </div>
  <!-- Red rectangle for decoration -->
  <div class="red-rectangle"></div>
  <!-- Grain overlay for decoration -->
  <div class="grain-overlay"></div>
  <!-- Logo image -->
  <div class="imagem-logo"></div>

  <!-- JavaScript for form submission -->
</body>
<script>
  // Function to handle the login process
  function login() {
    // Gather login form data into an object
    const loginData = {
      email: document.getElementById('email').value,
      password: document.getElementById('password').value,
    };

    // Send a POST request to the server with login data
    fetch('/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json', // Specify JSON content type
      },
      body: JSON.stringify(loginData) // Convert loginData to JSON string
    })
    .then(response => response.json()) // Parse response JSON
    .then(data => {
      // Handle response data
      if (data.error) {
        alert('An error occurred: ' + data.error); // Alert user if there's an error
        location.reload(); // Reload the page
      } else {
        alert('You logged in!'); // Alert user login success
        location.reload(); // Reload the page
      }
    })
    .catch(error => {
      console.error('Error:', error); // Log any errors to console
      alert('An error occurred during login.'); // Alert user about login error
    });
  };
</script>

</html>